.container{
	background-color:#AAAAAA;
	
	width:60%;
	max-width:100%;
	text-align: center;
}
.mid-container {
	background-color: #ffffff;
	margin:3%;

}
.text-place 
{
     margin-top:2%;
	text-align: center;
}
td{
	font-size:12px;
	font-weight: 500;
	
    
}
@media screen and (max-width: 600px) {
  .container {
    width:100%;
    margin:2%;
  }
 
  .mid-container {
  	width:95%;
  	text-align:center;
  }
}
.nametd{
	white-space: normal;
}